{% extends 'formbase.html' %}

{% block title %}
<title>Sign Up</title>
{% endblock %}

{% block body %}
<form action="/http://localhost:5000/adduser" method="POST">
    <label for="username">Username</label><br>
    <input type="text" id="username" name="username" placeholder="Username"><br>
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" placeholder="Email"><br>
    <label for="password">Password</label><br>
    <input type="password" id="password" name="password" placeholder="Password"><br><br>
    <input type="submit" value="Sign Up">
</form> 
{% endblock %}

{% for user in users %}
<p>{{ user.username }}</p>
{% endblock %}