{% extends 'formbase.html' %}

{% block title %}
<title>Sign Up</title>
{% endblock %}

{% block body %}
<form action="/signup" method="POST">
    {{ form.username.label }}: {{ form.username }}
    <br>
    {{ form.email.label }}: {{ form.email }}
    <br>
    {{ form.password.label }}: {{ form.password }}
    <br>
    {{ form.confirm.label }}: {{ form.confirm }}
    <br>
    {{ form.submit }}
    <br>
    {{ form.csrf_token }}
</form> 

{% for user in users %}
<p>{{ user.username }}</p>
{% endfor %}

{% endblock %}